# Dependencies
node_modules/

# Production build output
dist/

# Local media uploads & exported video files
uploads/*.mp4
uploads/*.webm
uploads/*.mkv
uploads/*.part
uploads/*.m4a
uploads/*.ytdl
uploads/*.temp*
exports/*.mp4
exports/*.temp*

# Local database runtime data
data/*.json

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
Thumbs.db
.DS_Store
